<div class="contain">
  <div class="row d-flex align-items-center justify-content-center">
    <form class="col-md-6">
      <div class="card px-5 py-5">
        <div class="form-input">
          <input type="text" placeholder="Enter Phone Number" class="form-control"
                 [(ngModel)]="phoneNumber" min="10" max="15" name="phonenumber" />
          <button (click)="getOTP()" class="btn btn-success mt-4 signup">Get OTP</button>
        </div>
        <div id="sign-in-button"></div>
      </div>
    </form>
  </div>
</div>
